body {
    background-color: rgb(223, 223, 223)
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(67, 84, 90);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: rgb(110, 135, 145);
}

.active {
background-color:palevioletred;
}

h1 {
    color: #000000;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: Arial;
    font-size: 20px;
    color: #0071db;
    text-align: center;
}


footer {
    color: rgb(136, 2, 2);
    display: flex;
    font-size:20px;
    justify-content: center;
  }